.radioButton{
    margin-right: 36px;
    margin-left: 22px;
    text-align: center;
}

.windowNameInput{
    width: 60px;
    margin-right: 10px;
}

#title{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

#desc{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#desc p{
    text-align: left;
}

#settingsPage{
    visibility: hidden;
    margin-top: -50%;
    width: 100%;
}

#welcomePage{
    width: 100%;
    margin-bottom: 10%;
}

#toSettingsButton{
    float: right;
    margin-right: -70px;
    margin-top: -25%;
}

#windowNames{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
}
#foldersCheckbox{
    width: 100%;
    margin-left: 100px;
}
