@import "node_modules/font-awesome/less/font-awesome.less"

html, body {

    background: rgba(0, 0, 0, 0);

}

body{
    overflow-y: hidden;
}

#title{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    background-color: rgba(10,10,30,0.75);
    text-align: center;
    color: white;
    -webkit-app-region: drag;
}

#titleText{
    background-color: rgba(10,10,30,0);
    font-size: 14px;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    border-color: rgba(10,10,30,0);

}

#box{
    background: rgba(100,100,100,0.75);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.folder{
    color: white;
    height: 70px;
    width: 60px;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;

}

.folderButton{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    -webkit-user-select: none;

}


.fileNameElement{
    cursor: default;
    margin: 5 auto;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
    -webkit-user-select: none;
}

#expandReduce{
    float:left;
    margin-left: 10px;
    font-size: 1.3em;
}

#settingsButton{
    margin-top: 2px;
    font-size: 1em;
    float: right;
    margin-right: 10px;
}

#colorValue{

    display: none;

}
