@import "node_modules/font-awesome/less/font-awesome.less"

html, body {

    background: rgba(0, 0, 0, 0);

}

body{
    overflow-y: hidden;
}

img {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

    margin:auto;
}

#title{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    background-color: rgba(10,10,30,0.75);
    text-align: center;
    color: white;
    -webkit-app-region: drag;
}

#titleText{
    background-color: rgba(10,10,30,0);
    font-size: 14px;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    border-color: rgba(10,10,30,0);

}

#box{
    background: rgba(100,100,100,0.75);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.folder{
    color: white;
    height: 60px;
    width: 90px;
    display: block;
    float: left;
    /*margin-right: 10px;*/
    padding: 10px 10px 30px 5px;

}

.folderIconContainer{
    position: relative;
    height: 50px;
    margin-left: 10%;
    width: 75%;

}

.folderButton{
    max-height: 50px;
    max-width: 50px;
    -webkit-user-select: none;
}


.fileNameElement{
    word-wrap: break-word;
    cursor: default;
    margin-top: 2px;
    margin-bottom: 30px;
    border-radius: 3px;
    text-align: center;
    -webkit-user-select: none;
}

.fileNameElement span{
    display: inline-block;
    padding-left: 5px;
}

#expandReduce{
    float:left;
    margin-left: 10px;
    font-size: 1.3em;
}

#settingsButton{
    margin-top: 2px;
    font-size: 1em;
    float: right;
    margin-right: 10px;
}

#colorValue{

    display: none;

}
